body {

font-family: Helvetica, sans-serif;
font-weight: normal;
overflow-y: hidden;
overflow-x: hidden;
margin: 0;
height: 100vh;
cursor: help;

.loading {
    position: absolute;
    left: 49.3%;
    top: 45%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}


  .mainlogo1 {
    font-size: 24pt;
    position: absolute;
    left: 30px;
    top: 0px;
    cursor: help;
    }
    
    .mainlogo1:hover {
        text-decoration: underline;
        cursor: help;
    }


.mainlogo {
font-size: 24pt;
position: absolute;
left: 30px;
top: 0px;
}

.mainlogo:hover {
    text-decoration: underline;
    cursor: help;
}

.menu {
    position: absolute;
    bottom: 42%;
    left: 50%;
    transform: translateX(-50%);
    
}

a {
    text-decoration: none;
    color: black;
}

.menutext {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.menutext:hover {
    text-decoration: underline;
    cursor: pointer;
}

.maintext {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 50%;
}


}
